<h1 style="color:#d90429;text-align:center;">
{% assign variable = "DIGIHANDS" %}
{{ variable }}</h1>
{% if product.title contains 'Slicer' %}
  This product’s title contains the word Slicer.
{% endif %}
